/* Universal Styling */
* {
  box-sizing: border-box;
}

/* Native CSS Variables */
  /* :root {} */

/* Header Styling */

header {
  display: inline-block;
  background-color: var(--background-color);
  font-family: 'IBM Plex Serif', serif;
  /* font-size: 16px; */
  line-height: 1.6;
  text-align: center;
}

.page-header {
  clear: both;
  display: inline-block;
  /* font-weight: bold; */
}

/* Body Styling */
body{
  /* background-color: #639C97; */
  background-color: #B1A688;
  padding: 25px;
}

h1{
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.4;
  text-align: center; 
}

h2{
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  text-align: center; 
}
/* List Styling */
li{
  margin: 5px;
  list-style-type: none;
  }

/* Form Styling */
.form-group{
  font-family: 'IBM Plex Serif', serif;
}  
/* Grid Styling */

/* Link Styling */

/* Button Styling */

/* div Class Styling */

/* img Class Styling */

/* Footer Styling */

/* Table Styling */

/* Responsive Design */
@media all and (max-width: 750px) {
   h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  h1{
    font-size: 20px;
  }
}
@media all and (max-width: 500px) {
    h1 {
    font-size: 16px;
  }

  h2 {
    font-size: 12px;
  }
}